<div class="schneider-highcharts">
    <!-- <div class="chart-container">
        <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="chart0"
            style="width: 100%; height: 400px; display: block;">
        </highcharts-chart>
    </div>
    <div class="chart-container">
        <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="chart1"
            style="width: 100%; height: 400px; display: block;">
        </highcharts-chart>
    </div>
    <div class="row">
        <div class="chart-container">
            <div class="title">Surface Dynacards</div>
            <highcharts-chart
                *ngIf="isLoaded"
                [Highcharts]="Highcharts"
                [options]="chart2"
                [oneToOne]="true"
                style="width: 100%; height: 350px; display: block;">
            </highcharts-chart>
        </div>
        <div class="chart-container">
            <div class="title">Dowhhole Dynacards</div>
            <highcharts-chart
                [Highcharts]="Highcharts"
                [options]="chart4"
                style="width: 100%; height: 350px; display: block;">
            </highcharts-chart>
        </div>
    </div>
    <div class="row">
        <div class="chart-container">
            <div class="title">Detailed Probabilities</div>
            <highcharts-chart
                [Highcharts]="Highcharts"
                [options]="chart3"
                style="width: 100%; height: 450px; display: block;">
            </highcharts-chart>
        </div>
    </div> -->
    <div
        class="grid-row"
        *ngIf="dynacards.length > 0">
        <div
            class="grid-item"
            *ngFor="let dynaOptions of dynacards">
            <highcharts-chart
                [Highcharts]="Highcharts"
                [options]="dynaOptions"
                style="width: 100%; height: 200px; display: block;">
            </highcharts-chart>
        </div>
    </div>
</div>
