.schneider-highcharts
    .row
        display: flex
        width: 100%
        .chart-container
            flex: 1
            &:not(:last-child)
                border-right: 1px solid #dddddd

    .title
        font-size: 20px
        font-weight: 600
        color: #212322
        padding: 20px 30px
    .chart-container
        position: relative
        border-bottom: 1px solid #dddddd

    .grid-row
        display: flex
        flex-flow: row wrap
        justify-content: flex-start
        border: 1px solid #dddddd

        .grid-item
            height: 200px
            flex-basis: 20%
            box-sizing: border-box
