<div class="chart-container">
    <div class="chart">
        <h5>
            2500 Points + XY Zoom + Panning with Shift key
        </h5>
        <highcharts-chart
            [Highcharts]="HighchartsStock"
            [constructorType]="'stockChart'"
            [options]="chart1"></highcharts-chart>
    </div>
    <div class="chart">
        <h5>Multi Y Axis + Point Hover + Line Hover</h5>
        <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="chart2"></highcharts-chart>
    </div>
    <div class="chart">
        <h5>Gap Between Points</h5>
        <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="chart3"></highcharts-chart>
    </div>
    <div class="chart">
        <h5>Socket Connection + X Zoom</h5>
        <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="chart4"></highcharts-chart>
    </div>
    <div class="chart">
        <h5>Tooltip Style</h5>
        <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="chart5"></highcharts-chart>
    </div>
    <div class="chart">
        <h5>Highlight X Zones</h5>
        <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="chart6"></highcharts-chart>
    </div>
    <div class="chart">
        <h5>DynaCard</h5>
        <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="chart7"></highcharts-chart>
    </div>
    <div class="chart">
        <h5>Highlight Points from External Source</h5>
        <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="chart8"></highcharts-chart>
    </div>
    <div class="chart">
        <h5>Click on a point to add a label</h5>
        <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="chart9"></highcharts-chart>
    </div>
</div>
