.canvasjs-charts-list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px;
}

.row {
  display: inline-flex;
}

.row .chart-default-style:first-child {
  margin-right: 50px;
}

.chart-default-style {
    border: 1px solid black;
    height: 370px;
    width: 100%;
    margin-top: 50px;
    margin-left: auto;
}

.canvasjs-chart-tooltip div{
  border-radius : 50% !important;
  width : 50px !important;
  height : 50px !important;
}

.canvasjs-chart-tooltip div .title {
  color: blueviolet;
}

.canvasjs-chart-tooltip {
    box-shadow : rgba(0, 0, 0, 0) 1px 1px 2px 2px !important
}
