<div class="canvasjs-charts-list">
    <div class="row">
      <div
        class="chart-default-style"
        id="dataPointsContainer"
      ></div>
      <div
        class="chart-default-style"
        id="mixContainer"
      ></div>
    </div>
    <div class="row">
      <div
          class="chart-default-style"
          id="crossContainer"
      ></div>
      <div
          class="chart-default-style"
          id="liveChartContainer"
      ></div>
    </div>

</div>
