<div class="schneider-container">
    <div class="chart-container">
        <canvas
            id="5000PointsChart"
            style="position: relative; width:100%; height: 400px;"></canvas>
    </div>
    <div class="chart-container">
        <canvas
            id="initialLinearChart"
            style="position: relative; width:100%; height: 400px;"></canvas>
    </div>
    <div class="row">
        <div class="chart-container">
            <div class="title">Surface Dynacards</div>
            <canvas
                #dynaChart
                style="position: relative; width:100%; height: 400px;"></canvas>
        </div>
        <div class="chart-container">
            <div class="title">Dowhhole Dynacards</div>
            <canvas
                #dynaChart
                style="position: relative; width:100%; height: 350px;"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="chart-container">
            <div class="title">Detailed Probabilities</div>
            <canvas
                id="barChart"
                style="position: relative; width:100%; height: 450px;"></canvas>
        </div>
    </div>
</div>
