<div class="canvasjs-charts-list">
    <!-- <div class="chart-container">
        <div
            class="chart-default-style"
            id="chart5000Points">
        </div>
    </div>
    <div class="chart-container">
        <div
            class="chart-default-style"
            id="dataPointsContainer">
        </div>
    </div>
    <div class="row">
        <div class="chart-container">
            <div class="title">Surface Dynacards</div>
            <div
                class="chart-default-style"
                id="dynacardChart"
                style="height: 350px; width: 100%;">
            </div>
        </div>
        <div class="chart-container">
            <div class="title">Dowhhole Dynacards</div>
            <div
                class="chart-default-style"
                id="dynacardChart2"
                style="height: 350px; width: 100%;">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="chart-container">
            <div class="title">Detailed Probabilities</div>
            <div
                class="chart-default-style"
                id="barChartContainer">
            </div>
        </div>
    </div> -->
    <div
        class="grid-row"
        #gridItems>
        <!-- <div
            class="grid-item">
            <div [id]="'dynaContainer'+id"></div>
        </div> -->
    </div>
</div>
