// .canvasjs-charts-list
//     display: flex
//     flex-direction: column
//     overflow-y: scroll
//     padding: 20px

// .row
//     display: inline-flex
// & .chart-default-style:first-child
//     margin-right: 50px

.canvasjs-charts-list
    .row
        display: flex
        width: 100%
        .chart-container
            flex: 1
            &:not(:last-child)
                border-right: 1px solid #dddddd

    .title
        font-size: 20px
        font-weight: 600
        color: #212322
        padding-bottom: 15px
    .chart-container
        position: relative
        border-bottom: 1px solid #dddddd
        padding: 25px 40px

    .chart-default-style
        height: 370px
        width: 100%
        margin-left: auto

    .grid-row
        display: flex
        flex-flow: row wrap
        justify-content: flex-start
        border: 1px solid #dddddd

        .grid-item
            height: 200px
            flex-basis: 20%
            box-sizing: border-box
