.header
    padding: 20px
    background-color: #f6f6f6
    .nav
        display: flex
        justify-content: space-between

        .nav-first
            border-bottom: 1px solid #dedede
            margin-bottom: 10px
            padding-bottom: 10px

        a
            text-decoration: unset
            margin-right: 15px
            color: #407881

            &.active
                font-weight: 600
