<div class="header">
    <h1>Charts Battle</h1>
    <div class="nav">
        <div class="nav-left">
            <div class="nav-first">
                <a
                    [routerLink]="['/highcharts']"
                    routerLinkActive="active">
                    Highcharts
                </a>
                <a
                    [routerLink]="['/canvasjs']"
                    routerLinkActive="active">
                    CanvasJS
                </a>
            </div>
            <div class="sub-nav">
                <a
                    [routerLink]="['/stocks-axis']"
                    routerLinkActive="active">
                    Stocks Axis
                </a>
                <a
                    [routerLink]="['/stocks-prototype']"
                    routerLinkActive="active">
                    Stocks Prototype
                </a>
            </div>

        </div>
        <div class="nav-right">
            <a
                [routerLink]="['/schneider-highcharts']"
                routerLinkActive="active">
                Schneider Highcharts
            </a>
            <a
                [routerLink]="['/shneider-canvasjs']"
                routerLinkActive="active">
                Schneider CanvasJS
            </a>
            <a
                [routerLink]="['/schneider-chartjs']"
                routerLinkActive="active">
                Schneider Chartjs
            </a>
            <a
                [routerLink]="['/schneider-plotly']"
                routerLinkActive="active">
                Schneider Plotly
            </a>
            <a
                [routerLink]="['/schneider-apex']"
                routerLinkActive="active">
                Schneider Apex
            </a>
        </div>
    </div>
</div>

<div class="body-container">
    <router-outlet></router-outlet>
</div>
