<div class="schneider-charts">
    <div class="chart-container">
        <plotly-plot
            [data]="chart0.data"
            [layout]="chart0.layout"
            [config]="chart0.config"
            [style]="{position: 'relative', width: '100%', height: '400px'}"></plotly-plot>
    </div>
    <div class="chart-container">
        <plotly-plot
            [data]="chart1.data"
            [layout]="chart1.layout"
            [config]="chart1.config"
            [style]="{position: 'relative', width: '100%', height: '400px'}"></plotly-plot>
    </div>
    <div class="row">
        <div class="chart-container">
            <div class="title">Surface Dynacards</div>
            <plotly-plot
                [data]="chart2.data"
                [layout]="chart2.layout"
                [config]="chart2.config"
                [style]="{position: 'relative', width: '100%', height: '350px'}"></plotly-plot>
        </div>
        <div class="chart-container">
            <div class="title">Dowhhole Dynacards</div>
            <plotly-plot
                [data]="chart2.data"
                [layout]="chart2.layout"
                [config]="chart2.config"
                [style]="{position: 'relative', width: '100%', height: '350px'}"></plotly-plot>
        </div>
    </div>
    <div class="row">
        <div class="chart-container">
            <div class="title">Detailed Probabilities</div>
            <plotly-plot
                [data]="chart3.data"
                [layout]="chart3.layout"
                [config]="chart3.config"
                [style]="{position: 'relative', width: '100%', height: '450px'}"></plotly-plot>
        </div>
    </div>
</div>
