.schneider-charts
    .row
        display: flex
        width: 100%
        .chart-container
            flex: 1
            &:not(:last-child)
                border-right: 1px solid #dddddd

    .title
        font-size: 20px
        font-weight: 600
        color: #212322
        padding: 20px 30px
    .chart-container
        position: relative
        border-bottom: 1px solid #dddddd
