<div class="schneider-charts">
    <div class="chart-container">
        <apx-chart
            [chart]="chart0.chart"
            [series]="chart0.series"
            [xaxis]="chart0.xaxis"
            [yaxis]="chart0.yaxis"
            [grid]="chart0.grid"
            [legend]="chart0.legend"
            [stroke]="chart0.stroke"
            [states]="chart0.states"
            [tooltip]="chart0.tooltip">
        </apx-chart>
    </div>
    <div class="chart-container">
        <apx-chart
            [chart]="chart1.chart"
            [series]="chart1.series"
            [xaxis]="chart1.xaxis"
            [yaxis]="chart1.yaxis"
            [grid]="chart1.grid"
            [legend]="chart1.legend"
            [stroke]="chart1.stroke"
            [states]="chart1.states"
            [tooltip]="chart1.tooltip">
        </apx-chart>
    </div>
    <div class="row">
        <div class="chart-container dyna">
            <div class="title">Surface Dynacards</div>
            <apx-chart
                [chart]="chart2.chart"
                [series]="chart2.series"
                [xaxis]="chart2.xaxis"
                [yaxis]="chart2.yaxis"
                [grid]="chart2.grid"
                [legend]="chart2.legend"
                [stroke]="chart2.stroke"
                [states]="chart2.states"
                [tooltip]="chart2.tooltip"
                [markers]="chart2.markers">
            </apx-chart>
        </div>
        <div class="chart-container dyna">
            <div class="title">Dowhhole Dynacards</div>
            <apx-chart
                [chart]="chart2.chart"
                [series]="chart2.series"
                [xaxis]="chart2.xaxis"
                [yaxis]="chart2.yaxis"
                [grid]="chart2.grid"
                [legend]="chart2.legend"
                [stroke]="chart2.stroke"
                [states]="chart2.states"
                [tooltip]="chart2.tooltip"
                [markers]="chart2.markers">
            </apx-chart>
        </div>
    </div>
    <div class="row">
        <div class="chart-container">
            <div class="title">Detailed Probabilities</div>
        </div>
    </div>
</div>
