body
    font-family: Lucida Grande
    margin: 0
    padding: 0

    .tooltip-wrapper
        width: 200px

        .inline
            display: flex
            width: 100%
            justify-content: space-between

        .header-title
            font-weight: 600
            text-transform: uppercase
            padding-bottom: 10px

        .left
            font-weight: 600

        .highcharts-tooltip
            width: 500px

    .canvasjs-chart-credit
        display: none

    .chart-stock
        padding: 15px
